<p>Order {{model.id}} for {{model.name}} is ready</p>

<table>
{{#each model.items as |lineItem|}}
<tr>
	<td>{{ lineItem.title }}</td>
	<td>{{ lineItem.quantity }}</td>
	<td>{{ lineItem.unitPrice }}</td>
	<td>${{ lineItem.price }}</td>
	<td>
		{{ item-percentage itemPrice=lineItem.price orderPrice=model.total }}
	</td>
</tr>
{{/each}}
<tr>
	<td>TOTAL</td>
	<td colspan="2">&nbsp;</td>
	<td>{{ model.total }}</td>
	<td>&nbsp;</td>
</tr>
</table>